@model IEnumerable<ChurchGivingRecorder.Models.Giver>

@{
    ViewData["Title"] = "Givers";
}

<h1>Givers</h1>

<p>
    <a asp-action="Create" data-target="#createEditModal" data-toggle="modal">Create New</a> | 
    <a asp-action="GiversList" asp-controller="Reports">Export</a>
</p>
@(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.Add(model => Html.ActionLink($"{model.Name}", "Edit", new { Id = model.Id }, new { data_target = "#createEditModal", data_toggle = "modal" })).Titled("Giver Id");
                    columns.Add(model => model.EnvelopeID).Titled("Envelope ID");
                    columns.Add(model => model.NeedLetter).Titled("Need Letter")
                        .RenderedAs((model, row) => Html.Raw("<input type='checkbox' disabled='disabled' name='Input.SelectedAccessRightsIds' value='"+ model.Id + "' " + (model.NeedLetter ? "checked" : "") + " />"));
                    columns.Add(model => model.NeedBox).Titled("Need Box")
                        .RenderedAs((model, row) => Html.Raw("<input type='checkbox' disabled='disabled' name='Input.SelectedAccessRightsIds' value='"+ model.Id + "' " + (model.NeedBox ? "checked" : "") + " />"));
                    columns.Add(model => Html.ActionLink($"Delete", "Delete", new { Id = model.Id, }, new { @class = "btn btn-danger btn-sm", data_target = "#createEditModal", data_toggle = "modal" }));
                })
                .Empty("No data found")
                .Filterable()
                .Sortable()
                .Pageable()
)

<!-- Modal -->
<div class="modal fade" id="createEditModal" tabindex="-1" role="dialog" aria-labelledby="createEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    @* The normal bootstrap behavior is to only grab the content for the modal once, if you need to pull in different partial views then the data on the modal will have to be cleared.*@
    <script type="text/javascript">
$(function () {

            // boostrap 4 load modal example from docs
    $('#createEditModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.attr("href");
                var modal = $(this);

                // note that this will replace the content of modal-content ever time the modal is opened
                modal.find('.modal-content').load(url);
            });
        });</script>
}