@model ChurchGivingRecorder.Models.GiversReportParams

@{
    ViewData["Title"] = "Givers";
}

<h1>Givers</h1>

<form asp-action="Givers" target="_blank">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiverId" class="control-label"></label>
                <select asp-for="GiverId" asp-items="@(new SelectList(Model.Givers, "Id", "EnvelopeNameDisplay"))" class="form-control" >
                    <option>All</option>
                </select>
                <span asp-validation-for="GiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupBy" class="control-label"></label>
                <select asp-for="GroupBy" asp-items="Html.GetEnumSelectList<ChurchGivingRecorder.Models.GroupBy>()" class="form-control"></select>
            </div>

            <input type="submit" value="Generate Report" class="btn btn-primary" />
        </div>
    </div>
</form>